	<project name="Clarion Live DLL Tutor"
           description="Clarion Live DLL Tutor"
		   queue="MAINQueue"
		   queuePriority="1">
		   

	<workingDirectory>C:\Projects\ClarionLiveDLLTutor</workingDirectory>

    <triggers>
      <!-- check the source control every X time for changes, 
	     and run the tasks if changes are found -->
      <intervalTrigger
               name="continuous"
               seconds="30"
               buildCondition="IfModificationExists"
               initialSeconds="5"/>
    </triggers>

	<sourcecontrol type="filtered">
		<sourceControlProvider  type="git">
			<executable>C:\Program Files (x86)\SmartGit\git\bin\git.exe</executable>
			<workingDirectory>$[$CCNetWorkingDirectory]</workingDirectory>
			<branch>master</branch>
			<autoGetSource>true</autoGetSource>
			<fetchSubmodules>false</fetchSubmodules>
			<tagOnSuccess>false</tagOnSuccess>
			<repository>git@github.com:Rick-UpperPark/ClarionLiveDLLTutor.git</repository> 
			<timeout units="minutes">10</timeout>
		</sourceControlProvider>
<!-- 		<exclusionFilters>
		  <pathFilter>
			<pattern>$[$CCNetWorkingDirectory]/af.build</pattern>
		  </pathFilter>
		  <pathFilter>
			<pattern>$[$CCNetWorkingDirectory]/af.dct</pattern>
		  </pathFilter>
		</exclusionFilters> -->
	</sourcecontrol>
	
<!--	<labeller type="fileLabeller">-->
<!--	  <labelFilePath>$[$CCNetWorkingDirectory]\Version.ini</labelFilePath>-->
<!--	  <allowDuplicateSubsequentLabels>true</allowDuplicateSubsequentLabels>-->
<!--	</labeller>-->
	
    <tasks>
	  
		<exec>
		  <executable>C:\Tools\deleteTempAPPDCTfiles.bat</executable>
			<buildArgs>$[$CCNetWorkingDirectory]</buildArgs>
		</exec>	



<!--      <exec>-->
<!--        <executable>C:\Program Files\CVS Suite\CVSNT\cvs.exe</executable>-->
<!--        <buildArgs>update -t -P -d -C</buildArgs>-->
<!--		<baseDirectory>C:\Clarion10</baseDirectory >-->
<!--        <buildTimeoutSeconds>900</buildTimeoutSeconds>-->
<!--        <description>Update Clarion10 from Server</description>-->
<!--      </exec>-->

<!--    Optionally call ClarionCL /ag to generate your APP   -->
<!--    And MSBuild to Compile the cwproj   -->


	  <exec>
		<executable>C:\Program Files (x86)\UpperParkSolutions\claInterface\claInterface.exe</executable>
		<buildArgs>COMMAND=BUILDCOMPILEAPP INPUT=$[$CCNetWorkingDirectory]\vcDLLTUTOR_GIT</buildArgs>
		<buildTimeoutSeconds>3600</buildTimeoutSeconds>
		<description>Build and Compile CashTime</description>
	  </exec>

	  <exec>
		<executable>C:\Program Files (x86)\Lindersoft\SetupBuilder 10 Developer\sb10.exe</executable>
		<buildArgs>/C $[$CCNetWorkingDirectory]\Install\DllTutorInstall.sb8 /L "$[$CCNetWorkingDirectory]" </buildArgs>
		<buildTimeoutSeconds>600</buildTimeoutSeconds>
		<description>Create Installation program</description>
	  </exec>
    </tasks>


    <publishers>

    <conditionalPublisher>
	<conditions>
		<condition>Success</condition>
	</conditions>
	<publishers>
	
	</publishers>
    </conditionalPublisher>

	<merge>
	  <files>
	    <file>C:\Projects\ClarionLiveDLLTutor\upsBuild_*.xml</file>
	    <file>C:\Projects\ClarionLiveDLLTutor\compiler.txt</file>
	  </files>
	</merge>
		
	<xmllogger />
	<artifactcleanup cleanUpMethod="KeepLastXBuilds"
	                   cleanUpValue="50" />
					   
<!--		<email mailport="25" includeDetails="TRUE" useSSL="FALSE">-->
<!--		  <from>rick.martin@upperparksolutions.com</from>-->
<!--		  <mailhost>smtpserver</mailhost>-->
<!--		  <users>-->
<!--			<user name="RickM" group="buildmaster" address="rick.martin@upperparksolutions.com" />-->
<!--		  </users>-->
<!--		  <groups>-->
<!--			<group name="Testers">-->
<!--			  <notifications>-->
<!--				<notificationType>Success</notificationType>-->
<!--				<notificationType>Fixed</notificationType>-->
<!--			  </notifications>-->
<!--			</group>-->
<!--			<group name="buildmaster">-->
<!--			  <notifications>-->
<!--				<notificationType>Always</notificationType>-->
<!--			  </notifications>-->
<!--			</group>-->
<!--		  </groups>-->
<!--		  <replyto>rick.martin@upperparksolutions.com</replyto>-->
<!--	  -->
<!--		  <subjectSettings>-->
<!--			<subject buildResult="StillBroken" value="Build is still broken for {CCNetProject}" />-->
<!--		  </subjectSettings>-->
<!--		  <xslFiles>-->
<!--			<file>xsl\header.xsl</file>-->
<!--			<file>xsl\modifications.xsl</file>-->
<!--		  </xslFiles>-->
<!--		</email>-->
					   
    </publishers>

  </project>
