#This is an example .gitignore file for the Clarion Environment.
#Copy it to your base Clarion folder (e.g. C:\Clarion8 or C:\Clarion9)
*.CHW
clarion.opt
ClarionNet20.red
#You can and probably should commit .gitignore - but this example shows ignoring it which allows each developer to setup their own
.gitignore
*.bak
*.bak?